h1, h2, .text-danger{
    color: #db143c;
}
p{
    color: #3030d4;
}
.sombra{
    box-shadow: 0px 0px 4px #808080;
}
p .badge-black{
    background: black;
    color: white;
}
ul > li{
    color: #ffd105;
    font-style: italic;
}
ol > li{
    font-weight: bold;
    font-style: normal;
}
.text-success, ol > li{
    color:#008000;
}