/* Selector descendiente
div#pagina div{
    background: blue;
} */
/*Selector Hijo
#pagina > div {
    border: 1px solid blue;
}*/
/*Selector hermano adyacente
div.articulo span + span{
    color:blue;
}*/
/*Selector hermano general*/
div.articulo strong ~ span{
    color: blue;
}