@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url(../../Theme/buttons.css);
:root {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background: #f8f8f8;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.card {
  background-color: #ffffff;
  width: 300px;
  height: 330px;
  box-shadow: 0 1px 10px #c4c3c3;
  border-radius: 3px;
  margin: 10px;
  position: relative;
}
.body h {
  font-size: large;
  padding: 15px;
}
.body p {
  padding: 0 15px;
  font-size: small;
}
img {
  border-radius: 3px 3px 0 0;
}
button {
  width: 90%;
  margin: 0 5%;
  background-color: white;
  font-family: "Roboto", sans-serif;
  position: absolute;
  bottom: 10px;
}
