:root {
  --fondo-color: #87ceeb;
  --fondo-color-alt: #10c963;
  --color-danger: #ff5555;
  --color-info: #62c2d3;
  --color-success: #03b103;
  --color-blue:#294c90;
  --color-lightblue:#b8d6fa;
  --color-yellow:#ffea00;
  --color-gray:#78909c;
}
