/* *{
    margin: 0;
    padding: 0;
} */

body {
  font-family: "Zen Kurenaido", sans-serif;
  background-color: #e9dcdc;
  padding-bottom: 50%;
}
h2 {
  text-align: center;
  line-height: 30px;
  padding: 0px 0px 50px 0px;
}
div {
  border-radius: 3px;
}
section {
  position: relative;
  left: 15%;

  height: 0;
}

.card {
  background-color: #ffffff;
  width: 20%;
  height: 240px;
  padding: 10px;
  margin-left: 100px;
  box-shadow: 3px 6px 4px;
}
i {
  padding-left: 15px;
}
.encabezado {
  font-size: 22px;
}
.card_body {
  text-align: left;
  margin: 20px 0px 40px 70px;
}
.card_footer {
  text-align: right;
  margin-right: 30px;
}
#menu {
  margin: 0%;
  position: relative;
  left: 45%;
}
