* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
ol a {
  display: block;
  line-height: 40px;
}
li a{
    text-decoration: none;
}
li a[href="#"]:link {
  text-decoration: line-through;
}
