*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 500px;
    height: 600px;
    border: 0px solid #ecf0f2;
    box-shadow: 0 0 1px ;
    margin: auto;
    padding:0;
}
header{
    padding: 15px 80px;
    background: #4d6eaa ;
    color: white;
    width: 341px;
    height: 70px;
    font-size: smaller;
}
header label[for="password"]{
    position: relative;
    left: 28px;
}
header a{
    color: #ffffffa9;
    text-decoration: none;
    position: relative;
    left: 122px;
}
header input[type="text"], header input[type="password"] {
    width: 110px;
    margin: 4px 5px 8px 0px;
    border: none;
    box-shadow: 0px 0px 1px;
}
header input[type="submit"]{
    color: white;
    font-weight: bold;
    background: #5f80b5;
    border: none;
    box-shadow: 0 0 2px #5f80b5;
    cursor: pointer;
}
div{
    padding: 15px 40px 15px 60px;
    background: #ecf0f2 ;
    color: #353232;
    width: 401px;
    height: 470px;
    font-size: smaller;
}
h1, p{
    line-height: 12px;
}
div input.name, div input[type="date"]{
    width: 151px !important;
    margin: 4px 5px 8px 5px;
    border: none;
    box-shadow: 0px 0px 1px;
}
div input[type="date"]{
    padding: 10px 5px;
    margin: 10px 5px;
}
div input[type="text"], div input[type="password"]{
    width: 320px;
    height: 30px;
    margin: 4px 5px 8px 5px;
    border: none;
    box-shadow: 0px 0px 0px 1px #6792e2;
}
div a, div p{
    color: #6792e2;
    text-decoration: none;
    font-size: 12px;
}
div p{
    color: #00000091;
    text-align: left;
    line-height: 15px;
}
div a#question{
    margin-left: 4%;
    margin-top: -200px;
}
div input[type="submit"]{
    color: white;
    width: 151px;
    height: 30px;
    font-weight: bold;
    background: #72aa5e;
    border: none;
    text-shadow: 1px 1px 1px rgb(95, 95, 95);
    box-shadow: 0 1px 2px #72aa5e;
    cursor: pointer;
}
div input[type="radio"]{
    cursor: pointer;
}