body {
  font-family: Arial;
  /*colores por selección, hexadecimal y rgb*/
  color: #4285f4;
}
h1 {
  font-family: Verdana;
  text-shadow: 2px 2px 5px;
  text-align: center;
  line-height: 20px;
}
p {
  margin: 0;
}
p {
  color: rgb(243, 228, 12);
}
div{  border-radius: 10px;}
.card {
  background-color: rgb(184, 174, 174);
  width: 30%;
  height: 200px;
  border-radius: 20px;
}
.card_head {
    text-align: center;

  height: 20%;
  /*Esquina SI, Esquina, SD, Esquina II, Esquina ID*/
  border-radius: 20px 20px 0px 0px;
}
.card_body {
    text-align-last: center;
  background-color: steelblue;
  height: 60%;
  border-radius: 0;

}
.card_footer {
    text-align: center;
  height: 20%;
  border-radius: 0px 0px 20px 20px;
}
/*Estilos para texto*/
.texto_grande{
    font-size: 2em;
}

.texto_mediano{
    font-size: 14px
}

.texto_pequeño{
    font-size: 10px;
}
#menu_turista{
  float: right;
}