*{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: Segoe UI;
}

header {
    width: 700px;
    height: 140px;
    background: #0690e0;
    text-size-adjust: 15px;
    
}
h1{
    text-align: center;
    color: white;
    position: relative;
    right: 70px;
    
}
nav{
    height: 50px;
    width: 700px;
    background: #f1f1f1;
}
li{
    display: inline-table;
}
main{
    height: 400px;
    background: white;
}
article{
    width: 500px;
    height: 400px;
    float: left;
}
article h4, article p{
    text-align: justify;
    margin: 10px;
}
footer{
    width: 680px;
    height: 150px;
    padding: 10px;
    background-color: #2D9BF0;
}
footer img{
    margin-top: 15px;

}
footer img#lago{
    position: relative;
    left: 60px;
}
footer img#tikal{
    position: relative;
    right: 60px;
}
nav ul{
    list-style: none;
}
nav ul li{
    float: left;
}
nav a{
    color: #165f91b0;
    text-decoration: none;
    padding: 25px;
    margin-left: 55px;
    line-height: 50px;
}
#banner{ 
    width: 500px;
    height: 250px;
    background-color: #CEE741;
    float: right;
}
#banner iframe{
    padding: 5px;
}

#logo{
    float: left;
}
#logo img{
    padding: 5px;
}
#buscador{
    float: right;
    position: relative;
    top: 30px;
    padding: 10px;
}
#buscador input[type="search"] {
    width: 110px;
}
#buscador input[type="submit"]{
    width: 70px;
    height: 25px;
    color: white;
    font-weight: bold;
    background: black;
    border: none;

}

#derecha{
    height: 400px;
    width: 200px;
    background: #CC9706;
    float: left;
    color: white;
}
#contenedor{
    width: 700px;
    height: 760px;
    background: white;
    margin: auto;
    margin-top: 10px;
}
